body {
    background-color: #808080;
    margin: 0px;
}

#wrapper {
    width: 1000px;
    background-color: #D3D3D3;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}


header {
    background-color: #ffff;
    height: 150px;
    position: relative;

}

header img {
    width: 100px;
    position: absolute;
    top: 10px;
    Right: 10px;
}


header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 150px;
}


header video {
    width: 120px;
    height: auto;
}


header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

header nav ul li a:hover {
    color: darkred;
}

main {
    text-align: center;
}

main img {
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.currentPage {
    color: blue;
    border-bottom: solid thin blue;
}

.clearFix {
    clear: both;
}

.home-page {
    background-image: url(_images/WhatsApp\ Image\ 2025-09-29\ at\ 19.59.37_c5333fb1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    padding: 40px;
}

h1 {
    font-size: 2em;
    padding-left: 30px;
    border-bottom: solid thin black;
    padding-bottom: 15px;
    margin: 0%;
}

footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

footer nav ul li a:hover {
    color: darkred;
}

footer nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}



#bottomLinks li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

#Shop {
    background-image: none;
    padding-left: 25px;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 30px;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
}


.gallery .item:nth-child(1)  {
    grid-column: 1;
    grid-row: 1;
}

.gallery .item:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}


.gallery .item:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
}

.gallery .item:nth-child(4){
    grid-column: 2;
    grid-row: 2;
}

.gallery .item:nth-child(5) {
    grid-column: 3;
    grid-row: 2;
}

.gallery .item:nth-child(6) {
    grid-column: 3;
    grid-row: 1;
}

.item img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.item p {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

/* Make sure the page takes full height */
body, html {
  height: 100%;
  margin: 0;
}

/* Flexbox will center everything */
.content-wrapper {
  display: flex;
  flex-direction: column;  /* keep title above products */
  justify-content: center; /* center vertically */
  align-items: center;     /* center horizontally */
  height: 100vh;           /* take full screen height */
  text-align: center;
}

/* Optional: style products nicely */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
